# Python
__pycache__/
*.py[cod]
*.pyo

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Database files
*.sqlite3
*.db

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Compiled files
*.so
*.dll
*.exe
